/* 전체 */
.container {
    width: 100%;
    height: 100%;
}

/* 메인 배너 */
#side_View {
    width: 1680px;
    height: 456px;
}

#side_View img {
    position: absolute;
    top: 0;
    left: 0;
}


#side_View a {
    text-decoration-line: none; /* a태그 밑줄 제거 */
}

#side_View a span {
    position: absolute; 
    top: -1px; 
    right: -21px; 
    display: block; 
    width: 16px; 
    height: 16px; 
    background: url(../img/img_intro.png) -933px -74px no-repeat;
}




#orange_banner {
    list-style: none; 
    width: 391px; 
    height: 136px; 
    z-index: 10; 
    box-sizing: border-box; 
    padding: 73px 0 0 39px; 
    position: absolute; 
    top: 220px; 
    left: 380px; 
    background: url(../img/img_intro.png) -10px -9px no-repeat;
}

#orange_banner li {
    float: left;
    margin: 0px 20px 20px 20px;
    font-size: 24px; 
    color: #ffffff; 
}

#orange_banner li a {
    text-decoration-line: none; /* a태그 밑줄 제거 */
    position: absolute; 

}

#orange_banner li #a1{
    color: transparent;
    top: 37px;
    left: 55px;
    background: url(../img/img_intro.png) -834px -10px no-repeat;
}

#orange_banner li #a2{
    color: transparent;
    top: 37px;
    left: 135px;
    background: url(../img/img_intro.png) -868px -10px no-repeat;
}

#orange_banner li #a3{
    color: transparent;
    top: 37px;
    left: 225px;
    background: url(../img/img_intro_cloud.png) 0 0 no-repeat;
}




.dirt_box {
    position: absolute;
    top: 220px;
}

#prev_btn {
    background: url(../img/img_intro.png) -474px -145px no-repeat;

    width: 20px;
    height: 37px;
    float: left;
    margin-left: 50px;
}

#next_btn {
    position: absolute;
    background: url(../img/img_intro.png) -504px -145px no-repeat;
    width: 20px;
    height: 37px;
    left: 1750px; 
}

#prev_btn a {
    color: transparent;
}

#next_btn a {
    color: transparent;
}



#main_quick_menu {
    position: absolute;
    z-index: 10;
    top: 378px;
    left: 340px;
}

#main_quick_menu li {
    display: inline; /* li 요소 가로배치 */
    list-style: none;
    margin: auto;
    position: relative;
    float: left;
    margin-right: 21px;
}

#main_quick_menu li:first-child::before {
    display: none;
}

#main_quick_menu li:before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -10px;
    width: 1px;
    height: 5px;
    background: #abacae;
}

#main_quick_menu li a {
    color: #777;
}


#indicator_box {
    position: absolute;
    bottom: 53.5%;
    right: 50%;
    margin-right: -364px;
    z-index: 10;
    overflow: hidden;
}

#indicator_box span {
    width: 220px;
    float: left;
    text-align: right;
}

#indicator_box #indicator #slider1,#slider2,#slider3,#slider4,#slider5 {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    text-indent: -1000em;
    border-radius: 6px;
    background: #bebebe;
    overflow: hidden;
}


#indicator_box #indicator #slider_play {
    color: transparent;
    float: right;
    margin-top: 2px;
    margin-left: 14px;
    width: 12px;
    height: 12px;
    background: url(../img/img_intro.png) -864px -74px no-repeat;
    overflow: hidden;
}